node_modules
.output
.vinxi
.nitro
.tanstack
dist
dist-ssr
.git
.github
.gitignore
.lovable
.workspace
.wrangler
.dev.vars
.env
.env.*
!.env.example
*.log
logs
.DS_Store
.vscode
.idea
Dockerfile
.dockerignore
docker-compose.yml
